<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="{{ style }}" rel="stylesheet">
	</head>
	<body>
		<div id="header">
			хедер
		</div>
		<div id="menu">
			<nav class="two">
				<ul>
					<li><a href="/">main</a></li>
					<li><a href="/page">page</a></li>
				</ul>
			</nav>
		</div>
		<div id="container">
			<div id="catalog">
				<div class="widget">
				  <h3 class="widget-title">Категории</h3>
				  <ul class="widget-list">
					<li><a href="/">Main</a></li>
					<li><a href="/page">Page</a></li>
				  </ul>
				</div>
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer">
			футер
		</div>
	</body>
</html>